Fontes
*{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
#navbar {
    background-color: #0c6f5c;
}

#navbarCollapse a {
    text-shadow: 1px 2px 5px rgb(39, 39, 39);
}

#navbar .nav-link {
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    #navbar .nav-link {
        align-items: flex-end;
    }
}
#navbar .navbar-brand {
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
}

.navbar-toggler {
    font-size: 1.5em;
}

/* GLOBAL STYLES */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* CSS - página 'sobre' */
/* Styles */
#myCarousel img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    #myCarousel img {
      font-size: 3.5rem;
    }
}
  
/* CUSTOMIZE THE CAROUSEL */
.carousel {
    margin-bottom: 4rem;
}

#myCarousel .carousel-caption {
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50px;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    padding: 20px;
}

@media (min-width: 768px) {
    .carousel-caption h1,
    .carousel-caption p {
        font-weight: 500;
        font-size: 50px;
    }
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: flex;
    top: 0;
    left: 0;
    min-width: 100%;
}

@media (max-width: 768px) {
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 200%;
        height: 32rem;
    }
}

#myCarousel .btn {
    background-color: #00CD66;
    border-color: #00CD66;
    box-shadow: 1px 2px 5px #141414;
}

#myCarousel .btn:hover {
    border-color: #02ac57;
    background-color: #02ac57;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes */
  
.featurette-divider {
    margin: 5rem 0;
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        line-height: 1.4;
    }
  
    .featurette-heading {
        font-size: 50px;
    }
}
  
@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
}

#album_fases p,
.lead {
    text-align: justify;
}

/* CSS - página 'pem' */
#img_logo_redonda {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    justify-content: center;
}

/* Alinhamento de texto e imagem */
#row_sat,
#row_featurette {
    display: flex;
    align-items: center;
}

#row_sat img,
#row_featurette img {
    height: 350px;
    width: 450px;
    border-radius: 1%;
}

/* CSS da página 'midia' */

#row_midia img {
    width: 300px;
    height: 225px;
    border-radius: 5px;    
}

h3 {
    font-weight: 400;
    font-size: 25px;
}

/* CSS da página 'contato' */
#form-container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2); 
    margin: 25px auto;
    padding: 25px;
}

#form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

#form-container a {
    color: #222;
    transition: .5s;
}

#form-container a:hover {
    color: #00CD66;
}

#form-container form {
    padding-bottom: 0px;
}

#form-container .form-control {
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

#form-container .form-control:focus {
    box-shadow: none;  
}

#form-container .form-floating label {
    color: #CCC;
}

#form-container .form-floating > .form-control:focus~label {
    color: #222;
}

#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked {
    background-color: #00CD66;
    border-color: #00CD66;
}

.row.align-items-center {
    align-content: center;
    height: 100%;
    padding: 75px 0;
}

#link-container {
    text-align: center;
    padding-top: 50px;
}


/* ALTERAÇÕES PARA MOBILE */
.btn.btn-primary {
    width: 100%;
    margin-top: 25px;
}

.col-md-6.order-md-1 {
    padding-top: 50px;
}

@media(min-width: 768px) {
    #form-container {
        margin: 50px auto;
        padding: 50px;
    }

    .btn.btn-primary {
        width: auto;
    }

    .col-md-6.order-md-1 {
        padding-top: 0;
    }
}
