{% extends 'index.html' %}
{% block conteudo %}
    <div class="container col-11 col-md-9" id="form-container">
        <div class="row gx-5">
            <div class="col-md-6">
                <h2>Entre em contato</h2>
                <form action="{{url_for('contato')}}" method="POST" class="form-control">
                    <!-- Nome -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="nome" placeholder="Digite o seu nome" required>
                        <label for="name" class="form-label">Digite o seu nome</label>
                    </div>
                    <!-- Campo de Sobrenome será opcional -->
                    <!-- <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Digite o seu sobrenome" required>
                        <label for="lastname" class="form-label">Digite o seu sobrenome</label>
                    </div> -->
                    <!-- email -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu e-mail" required>
                        <label for="email" class="form-label">Digite o seu e-mail</label>
                    </div>

                    <!-- Mensagem -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="mensagem" style="height: 100px" required></textarea>
                        <label for="floatingTextarea2">Mensagem</label>
                    </div>

                    <!-- Checkbox de termos de serviço  e newslatter-->
                    <div class="mb-3">
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" value="" id="agree-form" name="agree-form">
                            <label for="agree-form" class="form-check-label">Você aceita os <a href="#">termos de serviço</a>?</label>
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" value="" id="newslatter" name="newslatter" checked>
                            <label for="newslatter" class="form-check-label">Deseja receber as nossas newslatter?</label>
                        </div>
                        <!-- Botão de envio de dados -->
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img src="{{url_for('static', filename='images/hello.svg')}}" alt="Tela de registro" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}