{% extends 'index.html' %}
{% block conteudo %}
    <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="row_midia">
      <!-- Notícia 1 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{url_for('static', filename='images/satelite1.png')}}" aria-hidden="true" alt="Satelite">
        <h3>Notícias da UFSC</h3>
        <p>Alunos do Colégio de Aplicação participam da 1ª Olimpíada Brasileira de Satélites</p>
        <p><a class="btn btn-secondary" href="https://noticias.ufsc.br/2021/06/alunos-do-colegio-de-aplicacao-participam-da-1a-olimpiada-brasileira-de-satelites/" target="_blank">Ir para notícia &raquo;</a></p>
      </div>
      
      <!-- Notícia 2 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{url_for('static', filename='images/equipe_na_obsat.jpg')}}" aria-hidden="true" alt="Equipe Sagittarius A*">
        <h3>Notícias da UFSC</h3>
        <p>Equipe do Colégio de Aplicação conquista segundo lugar na etapa regional da Olimpíada Brasileira de Satélites</p>
        <p><a class="btn btn-secondary" href="https://noticias.ufsc.br/tags/satelite/" target="_blank">Ir para notícia &raquo;</a></p>
      </div>
      
      <!-- Notícia 3 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{url_for('static', filename='images/logotipo_da_missao1.png')}}" aria-hidden="true" alt="Logo da missão">
        <h3>Notícias da UFSC</h3>
        <p>Semifinalista da Olimpíada Brasileira, equipe do Colégio de Aplicação concorre a oportunidade de lançar satélite próprio</p>
        <p><a class="btn btn-secondary" href="https://noticias.ufsc.br/2022/08/semifinalista-da-olimpiada-brasileira-equipe-do-colegio-de-aplicacao-da-ufsc-vai-lancar-satelite-proprio/" target="_blank">Ir para notícia &raquo;</a></p>
      </div>
      
      <!-- Notícia 4 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{url_for('static', filename='images/satelite1.png')}}" aria-hidden="true" alt="Satelite">
        <h3>SCC10</h3>
        <p>Equipe do Colégio de Aplicação da UFSC vai lançar satélite próprio</p>
        <p><a class="btn btn-secondary" href="https://scc10.com.br/cotidiano/equipe-do-colegio-de-aplicacao-da-ufsc-vai-lancar-satelite-proprio/" target="_blank">Ir para notícia &raquo;</a></p>
      </div>

      <!-- Notícia 5 -->
      <div class="col-lg-4">
        <img class="img-fluid" src="{{url_for('static', filename='images/thum_video_reportagem.png')}}" aria-hidden="true" alt="Reportagem NSC Sagittatius A*">
        <h3>Reportagem NSC</h3>
        <p>Estudantes do Colégio de Aplicação da UFSC são semifinalistas da Olimpíada Brasileira de Satélites; projeto tem como objetivo o monitoramento dos manguezais</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=EAMYWa8Qktg" target="_blank">Ir para notícia &raquo;</a></p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
{% endblock conteudo %}